<% layout("/layouts/boilerplate"); %>

    <body>
        <div id="new-form-container">
            <h3 id="new-heading">Add New Listing</h3>
            <form action="/listings" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="listing[title]" placeholder="Enter a catchy title" id="title" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="listing[description]" id="description" cols="5" rows="2"
                    placeholder="Enter description" required></textarea>
                    <div class="invalid-feedback">Plese enter a short description</div>
                </div>
                <div class="mb-3">
                    <label for="image">Image</label>
                    <input class="form-control" type="text" name="listing[image]" placeholder="Enter image URL"
                        id="image">
                </div>
                <div class="mb-3">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="listing[price]"
                        placeholder="Enter price (per night)" id="price" required>
                    <div class="invalid-feedback">Please enter a valid price</div>
                </div>
                <div class="mb-3">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="listing[location]" placeholder="Enter location"
                        id="location" required>
                </div>
                <div class="mb-3">
                    <label for="country">Country</label>
                    <input class="form-control" type="text" name="listing[country]" placeholder="Enter country"
                        id="country" required>
                </div>
                <div id="new-form-btn-div">
                    <button type="submit" class="btn btn-outline-primary" id="new-form-btn">Add</button>
                </div>
            </form>
        </div>
    </body>